.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
  background-color: #24292E;
  padding: 20px 30px;
}

header {
  font-size: 13px;
  color: #AEAEBA;
  text-align: center;
  line-height: 2;
  border: 1px solid #363D4D;
  border-radius: 8px;
  padding: 8px 12px 12px;
}

.CardsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(auto-fit, 250px);
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  grid-gap: 20px;
}

.monthlyMetrics {
  width: 100%;
}

.farmMetrics {
  align-self: flex-start;
  margin-bottom: 30px;
}

.title {
  text-align: center;
  line-height: 2.2;
}

select {
  background: #363D4D;
  border: 0;
  color: #fff;
}