.Card {
    background-color: #363D4D;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
}

.line {
    font-size: 13px;
    color: #AEAEBA;
    line-height: 1.7;
}

.whiteNumber {
    color: #ffffff;
}

.Card .title {
    font-size: 14px;
    line-height: normal;
    padding-bottom: 20px;
}